:root {
    --bs-body-font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Push the footer to the bottom */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa; /* Optional background color */
    width: 100%;
    position: relative;
    bottom: 0;
}

.nav-link a {
    text-decoration: none;
    font-weight: bold;
    text-align: end;
    color: #FA0200;
    font-size: 20px;
    cursor: pointer;
    font-family: "Inknut Antiqua", serif;
}

#header-container {
    margin-top: 60px;
}

.description-text {
    font-size: 20px;
    font-weight: 300;
}

.main-text {
    font-size: 42px;
    font-weight: 700;
}

#make-event {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    height: 100%;
}

#event-search {
    margin-top: 100px;
}

#image-container {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#event-card {
    margin-top: 20px;
    height: 210px;
}

.card-body .btn {
    margin-right: 15px;
}

.card-link {
    color: gray;
}

p {
    margin-bottom: 0;
}

#time-date-container {
    list-style: none;
}

#time-date-container li {
    display: inline-block;
    margin-right: 10px;
}

ul {
    padding-left: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: black; /* Set the close button to black */
    font-size: 1.5rem;
    cursor: pointer;
}

.event-buttons .btn {
    margin-right: 10px;
}
