* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --bs-body-font-family: "Roboto", sans-serif;
}

/* #wrapper-div {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

.top-nav {
    width: 100%;
    margin-bottom: 10px;
}
.logo-image {
    width: 88px;
    height: 88px;
}

.logo-name {
    font-size: 36dp;
    font-weight: bold;
    color: #FA0200;
}

.button-logo {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
}

.button-logo:hover {
    cursor: pointer;
}

.button-logo h1:hover {
    color: #cd0404;
    transition: 0.3s;
}

/* #top-buttons {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #cccccc 2px solid;
} */

#top-buttons a {
    text-decoration: none;
}

#button-list {
    list-style-type: none;
}

#button-upcoming {
    background-color: white;
    color: #717171;
    border: none;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;

}

#button-upcoming:hover {
    background-color: rgb(228, 226, 226);
    transition: 0.3s;
    border-radius: 10%;
    cursor: pointer;

}

#nav-profile-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#profile-title {
    font-size: 42px;
    font-weight: 700;
}


#div-profile-picture {
    width: 40%;
    float: left;
    min-height: 400px;
    line-height: 400px;
    text-align: center;
}

#div-picture-container {
    background-color: white;
    width: 80%;
    margin: auto;
    min-height: 290px;
    line-height: 20px;
    margin-bottom: 10px;
}

#div-picture-container i {
    align-items: end;
}

#input-file {
    display: none;
  }

#picture-frame {
    background-color: lightgray;
    border-radius: 50%;
    height: 290px;
    width: 290px;
    margin: auto;
    line-height: 290px;
    color: #717171;
    overflow: hidden;
    font-size: 30px;
}

#div-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

#div-picture-container label i {
    font-size: 30px;
    color: #717171;
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50px;
}


#div-picture-container label i:hover {
    background-color: #cccccc;
    padding: 10px;
    border-radius: 50px;
    transition: 0.3s;
}




#div-profile-details {
    width: 55%;
    float: right;
    
    min-height: 400px;
    line-height: normal;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#div-profile-details nav ul li {
    display: inline;
    list-style-type: none;
    text-align: left;
}

#div-profile-details nav ul li h1 {
    font-size: 16px;
    font-weight: 300;
    
}

.name-container i,
#emailOrig i,
#chapterOrig i,
#edit-button i {
    margin-right: 8px; 
}



/* #div-profile-details nav ul li button {
    background-color: #2A66E3;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
} */

#div-profile-details div {
    line-height: 400px;
}

/* #div-profile-details nav ul li button:hover {
    background-color: #1A4FEB;
    box-shadow: #3373ff 3px 3px 3px;
    transition: 0.3s;
    cursor: pointer;
}  */

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px #cccccc;
    border-radius: 12px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: #cccccc;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: #1A4FEB;
    margin: 10px 0px 20px;
    font-size: 20px;
}


.name-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: auto; 

}




.name-container h1 {
    line-height: normal;

}

.popup .form .form-element .firstname-container{
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-size: 15px;
    color: black;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="email"],
.popup .form .firstname-container input[type="text"],
.popup .form .lastname-container input[type="text"],
.popup .form .form-element #chapter {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 6px;
}
.popup .form h2 {
    font-size: 28px;
}

.popup .form h2, label{
    font-weight: 700 ;
    margin-top: 8px;
}

.form-element label select{
    padding: 10px;
    outline: none;
    border: 1px solid #cccccc;
}

#chapter {
    border: none;
    font-weight: normal;
    padding: 0 50px 0 50px;
    border-radius: 6px;
    
}

#chapter option {
    color: #717171;
    font-size: 16px;
}


.popup .form input::placeholder {
    font-weight: 300;
    font-size: 16px;
}

.popup .form .firstname-container {
    float: left;
    width: 50%;
}

.popup .form .lastname-container {
    float: right;
    width: 50%;
}


.popup .form #button-cancel  button{
    background-color: #cccccc;
    border: none;
    border-radius: 6px;
    width: 40%;
    float: left;
    cursor: pointer;
}

.popup .form #button-confirm button{
    background-color: #FA0200;
    color: white;
    border: none;
    border-radius: 6px;
    width: 40%;
    float: right;
    cursor: pointer;
}

.popup .form #button-cancel  button:hover {
    background-color: gray;
    transition: 0.3s;
}

.popup .form #button-confirm button:hover {
    background-color: #cd0404;
    transition: 0.3s;
}

#div-name-container {
    width: 80%;
    margin: auto;
    min-height: 100px;
    line-height: 100px;
}

#name-holder {
    line-height: normal;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


#details-container {
    float: right;
    
    background-color: white;
    
}

.nav .nav-link {
    text-decoration: none;
    font-weight: bold;
    text-align: end;
    color: #FA0200 !important;
    font-size: 20px;
    cursor: pointer;
    
}

.nav-link a {
    text-decoration: none;
    font-weight: bold;
    text-align: end;
    color: #FA0200;
    font-size: 20px;
    cursor: pointer;
    font-family: "Inknut Antiqua", serif;
}
#chapter {
    margin-bottom: 15px;
}

#details-container a {
    text-decoration: none;
    font-weight: bold;
    text-align: end;
    color: #FA0200;
    font-size: 20px;
    cursor: pointer;
}

#details-container h2 {
    color: #717171;
    text-align: end;
    font-size: 15px;
    cursor: pointer;
}

#details-container h2:hover {
    text-decoration: underline;
    transition: 0.5s;
}

#contacts-container {
    float : right;
    margin-right: 10px;
    min-height: normal;
    padding-top: 10px;
}

#contacts-container h1 {
    color: black;
    text-align: center;
    font-size: 15px;
}

#contacts-container nav {
    
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#contacts-container nav li {
    list-style-type: none;
    margin-right: 10px; 
    display: flex;
    align-items: center; 
}

#contacts-container nav li a {
    text-align: center; 
    display: inline-block; 
    color: #717171;
}

#legal-information {
    line-height: 100px;
    
    float: left;
    font-size: 12px;
    color: #717171;
}

/* Responsive Design */

@media (max-width: 1100px) {
    #name-holder {
        font-size: 25px;
    }
}

@media (max-width: 860px) {
    #name-holder {
        font-size: 20px;
        
    }

    #div-picture-container img {
        max-width: 100%;
    }

    #div-picture-container {
        min-height: 220.15px;
        max-width: auto;

    }

    #picture-frame {
        height: 220.15px;
        width: 220.15px;
        line-height: 220.15px;
    }

}

@media (max-width:687px) {

    #div-profile-details, #div-profile-picture {
        float: none;
        margin: 0 auto;
    }

    #div-picture-container img {
        height: 175.7px;
        width: 175.7px;
        line-height: 175.7px;
    }

    #div-picture-container {
        min-height: 175.7px;
    }

    #picture-frame {
        height: 175.7px;
        width: 175.7px;
        line-height: 175.7px;
    }

    #div-profile-picture {
        width: 100%;
        min-height: 175.7px;
        margin-bottom: 10px;
    }

    #div-profile-details {
        width: 100%;
        min-height: 160px;
        margin-bottom: 10px;
    }

    #name-holder {
        font-size: 15px;
    }
    #div-name-container {
        min-height: 50px;

    }

}

@media (max-width: 482px) {
    #legal-information {
        display: none;
    }

    #contacts-container h1, #details-container h1, #details-container h2 {
        font-size: 10px;
    }

    #details-container h1, #details-container h2 {
        margin-top: 10px;
    }

    #button-upcoming {
        font-size: 10px;
    }

    .button-logo img {
        display: none;
    }

    .logo-name {
        font-size: 15px;
    }

    #profile-title {
        font-size: 15px;
    }

    #div-name-container {
        min-height: 50px;

    }
}
