* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.btn {
    padding: 8px 50px 8px 50px;
}

#wrapper-div {
    width: 100%;
}

.register-pane {
    width: 50%;
    float: left;
    background-color: white;
    min-height: 100vh;
}

.picture-pane {
    width: 50%;
    float: right;
    height: 100vh;
    border-radius: 12px 0 0 12px;
    overflow: hidden;
}

.picture-pane img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.register-container {
    width: 80%;
    margin-left: auto;
    min-height: 100vh;
}

.top-nav {
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;

}

#top-buttons {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white 2px solid;
}

#top-buttons a {
    text-decoration: none;
}

.logo-image {
    width: 88px;
    height: 88px;
}


.logo-name {
        font-size: 26px;
        font-weight: bold;
        color: #FA0200;
        font-family: "Inknut Antiqua", serif;
}


.button-logo {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
}


.register-input-box {
    width: 100%;
    margin-top: 5vh;
}

.register-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.register-title h1 {
    font-size: 36px;
    line-height: 1.2; 
    font-weight: 700;
}

.register-title h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300; 
}

.register-details {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    line-height: 100px;
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
    line-height: 30px;
    height: 100%;
}

.form-group a {
    font-size: 12px;
    color: #717171;
}


.register-button {
    background-color: #2A66E3;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    padding: 0 50px 0 50px;

    border-radius: 10%;

}

.register-button:hover {
    background-color: #1A4FEB;
    box-shadow: #3373ff 3px 3px 3px;
    transition: 0.3s;
    cursor: pointer;
} 



.input-icon {
    position: relative;
    width: 100%;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #717171;
}

.name-container {
    overflow: hidden;
    
    margin-bottom: 10px;
    height: 100%;
    line-height: normal;
}

.firstname-container {
    width: 48%;
    float: left;
    height: 54.4px;
}

.lastname-container {
    width: 48%;
    float: right;
   height: 54.4px;
}



.register-details #register-form input[type="text"],
.register-details #register-form input[type="password"] {
    background-color: #F6F4F4;
    width: 100%;
    min-height: 50px;
    padding: 10px 35px;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
}

.register-details #register-form input::placeholder {
    font-weight: 300;
    font-size: 16px;
}

#dont-have-account {
    font-size: 12px;
    color: #717171;
    text-decoration: none;
}

#dont-have-account:hover {
    text-decoration: underline;
}

#chapter {
    min-height: 50px;
    width: 100%;
    border: none;
    background-color: #F6F4F4;
    padding: 0 50px 0 5px;
    border-radius: 6px;
}

#chapter option {
    color: #717171;
}

@media (max-width:687px) {
    .register-title h1 {
        font-size: 24px;
    }

    .register-title h2 {
        font-size: 16px;
    }

    .picture-pane {
        display: none;
    }

    .register-pane {
        width: 100%;
        margin: auto;
    }

    .register-container {
        width: 80%;
        margin: auto;
    }

}

@media (max-width: 482px) {

    .button-logo img{
        display: none;
    }

    .logo-name {
        font-size: 15px;
    }
}